@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --decor: "Unbounded";
  --regular: "Golos Text";

  --black: #001935;
}

::-webkit-scrollbar {
  width: 0.44rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--regular);
  color: var(--black);
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
}
::placeholder {
  color: unset;
}
::marker {
  content: initial;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
}
.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 16px;
}
.container.big {
  max-width: 95%;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}
img,
svg {
  pointer-events: none;
}
input,
button {
  background: unset;
  border: none;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.nuxt-link-exact-active {
  color: var(--dark);
}
.marginless {
  margin: 0 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.ant-dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
}
.section__title {
  color: var(--Blue-night, #001935);
  font-family: var(--decor);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}
.ant-dropdown-menu-item a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ant-dropdown-menu-item img {
  width: 32px;
  height: 24px;
  object-fit: cover;
}
.ant-btn {
  margin: 0 !important;
  padding: 0;
  background: transparent;
  border: 0;
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-left: 0;
}
.ant-btn:focus,
.ant-btn:hover {
  background: transparent;
  color: white;
}
.scroll .ant-btn {
  color: var(--black);
}
@media screen and (max-width: 1024px) {
  .section__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .container {
    padding: 0 16px;
  }
}
